<div class="header--inner">
    <div class="flex">
        <div class="header--logo">
            <a href="{{ fn('get_home_url') }}">
                {{ fn('get_bloginfo', 'name') }}
            </a>
        </div>
    </div>
</div>
