{% if relatedPosts is not empty %}
    <div class="related-post related-post-wrap">
        <div class="container">
            <p class="related-post__title is-title-2">Vous aimerez peut être</p>
            <div class="related-post__list">
                {% for aRelatedPost in relatedPosts %}
                    {% include 'partials/post/blog-card.html.twig' with {'aPost': aRelatedPost, 'removeAuthor': true} only %}
                {% endfor %}
            </div>
        </div>

    </div>
{% endif %}
