<article class="post blog-card">
    <div class="inner-wrap animated">
        <div class="article-content-wrap">
            <div class="featured-image-wrap">
                <a href="https://www.clement-decou.fr/web/wordpress-et-mercure-le-temps-reel-en-quelques-clics"><span class="post-featured-img" style="background-image: url(https://www.clement-decou.fr/wp-content/uploads/2020/07/wp-mercure-logo-900x600.png);"></span></a>
            </div>
            <div class="post-content-wrap">
                <a class="entire-meta-link" href="https://www.clement-decou.fr/web/wordpress-et-mercure-le-temps-reel-en-quelques-clics"></a>
                <span class="meta-category">
                    <a class="web" href="https://www.clement-decou.fr/category/web">Web</a>
                </span>
                <div class="post-title">
                    <h3 class="title">
                        <a href="https://www.clement-decou.fr/web/wordpress-et-mercure-le-temps-reel-en-quelques-clics"> WordPress et Mercure : le temps réel en quelques clics</a>
                    </h3>
                </div>
                <div class="excerpt">Vous voulez intégrer des fonctionnalités temps réels sur votre site WordPress ? WP Mercure va…</div>
                <div class="author-wrap">
                    <a href="https://www.clement-decou.fr/author/cdecou">
                        <img alt="Clément Décou" src="https://secure.gravatar.com/avatar/6b4bf75c43a88c1b01ac6143d5c11c7f?s=70&amp;d=mm&amp;r=g" srcset="https://secure.gravatar.com/avatar/6b4bf75c43a88c1b01ac6143d5c11c7f?s=140&amp;d=mm&amp;r=g 2x" class="avatar avatar-70 photo" height="70" width="70" loading="lazy">
                    </a>
                    <div class="text">
                        <a href="https://www.clement-decou.fr/author/cdecou" rel="author">Clément Décou</a>
                        <span>18 août 2020</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
