.my-projects {
  font-family: Roboto;
  padding-top: 100px;
  padding-bottom: 3em;
  border-bottom: 1px solid rgba(0,0,0,.15);
  &--title-section {
    text-align: center;
    h2 {
      margin-bottom: .75rem;
    }
    p {
      font-size: 20px;
      font-weight: $font-bold;
    }
  }
}

.projects {
  .grid-sizer {
    width: 25%;
  }
  .project {
    float: left;
    &.size-medium {
      width: 25%;
      @include touch {
        width: 50%;
      }
    }
    &.size-big {
      width: 50%;
      @include touch {
        width: 100%;
      }
    }

    img {
      display: block;
      width: 100%;
    }
  }
}
