.presentation-container {
  h1 {
    max-width: 700px;
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    line-height: 59px;
    font-weight: $font-bold;
  }

  .presentation--subtext {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 34px;
    font-weight: $font-regular;
  }
}
