.triangle-container {
  .triangle-background {
    margin: 0 auto;
    width: 0;
    height: 0;
    border-left: 200px solid transparent;
    border-bottom: 200px solid rgba(0,0,0,.85);
    transform: rotate(135deg);
  }
}

.home-shape-container {
  display: block;
  height: 80px;
  transform: rotate(180deg);

  svg {
    fill: $white;
    display: block;
    width: 100%;
    height: 100%;
    filter: blur(.5px);
    position: absolute;
    bottom: -1px;
  }
}
.home-shape-overlay {
  background: $black;
  position: absolute;
  width: 100%;
  height: 100px;
  margin-left: -50vh;
  left: 50%;
}
