.triangle-container {
  .triangle-background {
    margin: 0 auto;
    width: 0;
    height: 0;
    border-left: 200px solid transparent;
    border-bottom: 200px solid rgba(0,0,0,.85);
    transform: rotate(135deg);
  }
}
