.button {
  display: inline-block;
  border-radius: 200px;
  border: 2px solid rgba(255, 255, 255, 0.75);
  color: $white;
  background-color: transparent;
  transition: background;
  padding: 15px 22px;
}
