.button {
  display: inline-block;
  border-radius: 200px;
  border: 2px solid rgba(255, 255, 255, 0.75);
  color: $white;
  background-color: transparent;
  transition: background;
  padding: 15px 22px;

  &.is-black {
    letter-spacing: 0;
    font-size: 16px;
    font-weight: $font-bold;
    border: none;
    color: $white;
    cursor: pointer;
    background: $black-bis;
    transition: all .45s cubic-bezier(.25,1,.33,1);

    &:hover {
      opacity: .85;
    }
  }

  &.is-twitch {
    color: $twitchColor;
    font-weight: $font-bold;
    border-color: $twitchColor;
    padding: 3px 12px;
  }
}
