header {
  .header-outer {
    background: rgba(255,255,255,.96);
    position: fixed;
    width: 100%;
  }

  .menu-container {
    margin-left: auto;
  }

  ul {
    list-style-type: none;
  }

  .header--logo {
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: $font-medium;
    letter-spacing: -1px;
    font-size: 22px;
  }

  .header--menu nav ul li a {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    margin-left: 41px;
    margin-right: 41px;
    position: relative;

    &:after {
      content: '';
      transition: transform .3s ease-out,border-color .3s ease-out;
      position: absolute;
      display: block;
      bottom: -6px;
      left: 0;
      width: 100%;
      transform: scaleX(0);
      border-top: 2px solid $black-bis;
    }

    &[aria-current]:after, &:hover:after {
      transform: scaleX(1);
    }
  }

  .header--rs a {
    display: block;
    width: 36px;
  }
}
